[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment myresume.pdf [PDF] 61 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=021d326564&view=att&th=161aecfd83433e9c&attid=0.1&disp=safe&realattid=f_jduewj930&zw
Icon=text-html
