@font-face{
    font-family:bornasinner;
    src:url("BornaSinner.ttf");

    font-family:artbrewery;
    src:url("Art Brewery.ttf");
}

body{
    background-color: lightblue;
}

#p1 {
    font-family:artbrewery;
}

#p2 {
    background-color: darkred;
    font-family:bornasinner;
    color: #ffffff
}

#p3 {
    color: #ff0000;
}