@font-face{
    font-family:bornasinner;
    src:url("BornaSinner.ttf");  
}

@font-face{
    font-family:orangejuice;
    src:url("orange juice 2.0.ttf");
}

body{
    background-color: lightblue;
}

t   {
    color: #ffffff;
}

#p1 {
    font-family:orangejuice;
    color: #ffffff;
}

#p2 {
    background-color: darkred;
    font-family:bornasinner;
    color: #ffffff;
}

#p3 {
    color: #ff0000;
}