@font-face{
    font-family:bornasinner;
    src:url("BornaSinner.ttf");  
}

@font-face{
    font-family:orangejuice;
    src:url("orange juice 2.0.ttf");
}

#header{
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 5px;
}




#footer{
    background-color:lightblue;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

body{

}

h3  {
    color: #ffffff;
}

