@font-face{
    font-family:bornasinner;
    src:url("BornaSinner.ttf");  
}

@font-face{
    font-family:orangejuice;
    src:url("orange juice 2.0.ttf");
}

#header{
    background-color: darkred;
    color: white;
    font-family: bornasinner;
    text-align: center;
    padding: 5px;
}

#nav{
    line-height: 30px;
    background: black;
    height: 300px;
    width: 100px;
    padding: 5px;
}

#section{
    width: 700px;
    float: left;
    padding 10px;
    background: rgba(0,0,0,0.5);
    border: 1px solid white
}

#footer{

}

body{
    background-image: url("asdf.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h3  {
    color: #ffffff;
}

#p1 {
    font-family:orangejuice;
    color: #ffffff;
}

#p2 {
    background-color: orange;
    font-family:bornasinner;
    color: #ffffff;
}

#p3 {
    color: #ff0000;
}